# Python virtual environment
.venv
venv/
*/venv/

# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Build artifacts
build/
dist/
*.egg-info/
*.egg

# IDE/editor config
.vscode/
.idea/

# OS-specific files
.DS_Store
Thumbs.db

# Environment variables
.env*
