# Ignore node_modules directory
node_modules

# Ignore build output directory
build

# Ignore .env files potentially containing secrets
.env*

# Ignore IDE/editor config
.vscode
.idea

# Ignore OS-specific files
.DS_Store
Thumbs.db
